<div class="input">
  <label *ngIf="label" [for]="label" class="input__label">
    <svg *ngIf="icon === 'user'" class="input__icon" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"/>
    </svg>
    <svg *ngIf="icon === 'lock'" class="input__icon" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"/>
    </svg>
    {{ label }}
    <span *ngIf="required" class="input__required">*</span>
  </label>
  <input
    [id]="label"
    [type]="type"
    [value]="value"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [autocomplete]="autocomplete"
    (input)="onInput($event)"
    (blur)="onBlur()"
    class="input__field"
    [class.input__field--invalid]="isInvalid || errorMessage"
  />
  <div *ngIf="errorMessage" class="input__error">
    {{ errorMessage }}
  </div>
</div>

